<%= stylesheet_link_tag('application') %>
<%= stylesheet_link_tag('index') %>
<%= stylesheet_link_tag('grub') %>

<div id="<%= dom_id(grub) %>" class="grub-container">
  <div class="jumbotron bg-secondary-subtle p-3">
    <h1 class="display-4">
      <%= grub.name %>, <%= grub.cuisine %>
    </h1>
    <p class="lead">
      <%= grub.calories %> calories | Php <%= grub.price %>
    </p>
    
    <%= link_to "View Grub", grub, class: "btn btn-primary btn-lg small" %>
    <%= link_to "Back to Grubs", grubs_path, class: "btn btn-primary btn-lg small" %>
    <%= button_to "Destroy Grub", grub, method: :delete, class: "btn btn-danger btn-lg small", data: { confirm: "Are you sure?" } %>
  </div>
</div>
