<%= stylesheet_link_tag('application') %>
<%= stylesheet_link_tag('index') %>
<%= stylesheet_link_tag('grubs') %>

<p style="color: green"><%= notice %></p>

<div class="grubs-h1">
  <h1>Grubs</h1>
</div>
<table class="table table-striped">
  <thead class ="table-dark">
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Calories</th>
      <th>Price</th>
      <th>View</th>

    </tr>
  </thead>

  <div id="grubs">
    <thead>
    <% @grubs.each do |grub| %>
      <tr >
        <td><%= grub.name %></td>
        <td><%= grub.cuisine %></td>
        <td><%= grub.calories %> cal</td>
        <td>Php <%= grub.price %></td>
        <td><%= link_to "View", grub, class:"btn btn-primary"  %></td>
      </tr>
    </thead>
    <% end %>
  </div>
</table>

<div class="centered-link-container">
  <%= link_to "New grub", new_grub_path, class: "btn" %>
</div>


